/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --input-radius: 10px;
    --first-switcher-radius: 10px 0 0 10px;
    --second-switcher-radius: 0 10px 10px 0;
    --cell-size: 100px;
    --neon: hsl(317 100% 54%);
    --game-option-input-bg: #6a33bc;
    --game-option-text-color: #fbb9fe;
    --option-card-width: 35%;
    --game-option-font-size: 1.45rem;
    --game-option-radius: 2rem;
    --green: rgba(0, 255, 119, 0.856);
    --text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    --muted: 0, 0%, 83.9%;
    --muted-foreground: 0 0% 45.1%;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


main {
    pointer-events: none;
    min-width: 100%;
    min-height: 100%;
}

/* Add animation bg */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

body {
    position: fixed;
    top: 0;
    left: 0;
    background: #451386;
}

body span {
    width: 25vmin;
    height: 25vmin;
    border-radius: 25vmin;
    backface-visibility: hidden;
    position: absolute;
    z-index: -100;
    animation: move;
    animation-duration: 38;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


body span:nth-child(0) {
    color: #ea0ba3;
    top: 18%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -90s;
    transform-origin: 4vw -9vh;
    box-shadow: -50vmin 0 6.532070826031335vmin currentColor;
}
body span:nth-child(1) {
    color: #ea0ba3;
    top: 43%;
    left: 65%;
    animation-duration: 64s;
    animation-delay: -120s;
    transform-origin: -10vw -12vh;
    box-shadow: 50vmin 0 6.7533817932566205vmin currentColor;
}
body span:nth-child(2) {
    color: #ea0ba3;
    top: 5%;
    left: 75%;
    animation-duration: 21s;
    animation-delay: -31s;
    transform-origin: 5vw 23vh;
    box-shadow: 50vmin 0 6.688406715249455vmin currentColor;
}
body span:nth-child(3) {
    color: #b11bda;
    top: 57%;
    left: 38%;
    animation-duration: 100s;
    animation-delay: -21s;
    transform-origin: 6vw 3vh;
    box-shadow: -50vmin 0 6.76920623556391vmin currentColor;
}
body span:nth-child(4) {
    color: #b11bda;
    top: 50%;
    left: 34%;
    animation-duration: 12s;
    animation-delay: -117s;
    transform-origin: -14vw 20vh;
    box-shadow: 50vmin 0 6.973132304741671vmin currentColor;
}
body span:nth-child(5) {
    color: #b11bda;
    top: 71%;
    left: 4%;
    animation-duration: 110s;
    animation-delay: -113s;
    transform-origin: 0vw 19vh;
    box-shadow: 50vmin 0 7.054623999169697vmin currentColor;
}
body span:nth-child(6) {
    color: #b11bda;
    top: 56%;
    left: 76%;
    animation-duration: 14s;
    animation-delay: -58s;
    transform-origin: 18vw -6vh;
    box-shadow: 50vmin 0 6.9406724219717875vmin currentColor;
}
body span:nth-child(7) {
    color: #ea0ba3;
    top: 68%;
    left: 30%;
    animation-duration: 91s;
    animation-delay: -4s;
    transform-origin: -19vw -2vh;
    box-shadow: 50vmin 0 6.584423449730336vmin currentColor;
}
body span:nth-child(8) {
    color: #8599ff;
    top: 53%;
    left: 95%;
    animation-duration: 43s;
    animation-delay: -2s;
    transform-origin: -1vw 25vh;
    box-shadow: -50vmin 0 6.31886835199695vmin currentColor;
}
body span:nth-child(9) {
    color: #8599ff;
    top: 27%;
    left: 63%;
    animation-duration: 113s;
    animation-delay: -13s;
    transform-origin: 7vw 1vh;
    box-shadow: -50vmin 0 6.660755331508169vmin currentColor;
}
body span:nth-child(10) {
    color: #b11bda;
    top: 9%;
    left: 11%;
    animation-duration: 38s;
    animation-delay: -85s;
    transform-origin: -4vw 19vh;
    box-shadow: -50vmin 0 7.001073753230642vmin currentColor;
}
body span:nth-child(11) {
    color: #b11bda;
    top: 77%;
    left: 21%;
    animation-duration: 17s;
    animation-delay: -82s;
    transform-origin: 18vw -11vh;
    box-shadow: 50vmin 0 6.653043507219637vmin currentColor;
}
body span:nth-child(12) {
    color: #00ff88bc;
    top: 82%;
    left: 74%;
    animation-duration: 102s;
    animation-delay: -13s;
    transform-origin: 6vw 2vh;
    box-shadow: -50vmin 0 6.762883734421609vmin currentColor;
}


/* 
Make radio-group behave like switcher 
*/

.switcher {
    border-radius: var(--input-radius);
    border: none;
    display: flex;
    overflow: hidden;
}

.switcher input {
    position: absolute;
    clip-path: rect(0, 0, 0, 0);
    /* Hide radio button */
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}

.switcher label {
    color: rgb(134, 125, 125);
    font-size: 14px;
    /* change in root and colors too */
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.177), 0 1px rgba(255, 255, 255, 0.105);
    transition: all 0.2s ease-in-out;
}

.switcher label:hover {
    cursor: pointer;
}

.switcher input:checked+label {
    background-color: #1cd76da0;
    color: #ffffff;
    text-shadow:  0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.1em currentColor;
    box-shadow: none;
}

.switcher label:first-of-type {
    border-radius: var(--first-switcher-radius);
}

.switcher label:last-of-type {
    border-radius: var(--second-switcher-radius);
}

/* Add nice inputs with animation */
.player-input {
    position: relative;
    margin-bottom: 10px;
    font-size: var(--game-option-font-size);
}

.input-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(119, 117, 117);
    outline: 0;
    color: var(--green);
    text-shadow: var(--text-shadow);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-field::placeholder {
    color: transparent;
    text-shadow: none;
}

.input-label {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 400ms all;
    font-size: var(--game-option-font-size);
    color: #9b9b9b;
}

.input-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #b2cdb2, #00db6e); /* Поменяц на цвета из root*/
    border-image-slice: 1;
}

.input-field:focus ~ .input-label,
.input-field:valid ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  transform: translate(-13.7%, -50%) scale(0.8);
}

/*  ----------------------------------------    */

/* Add nice button */
.play-btn {
    display: flex;
    width: 100%; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.neon-button {
    font-size: 2rem;
    font-weight: 700;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--neon);
    background-color:  transparent;
    border: var(--neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 1em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--neon), 0 0 0.5em 0 var(--neon);
  
    position: relative;
    transition: all 100ms ease-in-out;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    border-radius: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--neon);
    opacity: 0;
    background-color: var(--neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .neon-button:active {
    transform: scale(0.8);
    color:  #451386;
    background-color: var(--neon);
  }

  .neon-button:active::before {
    opacity: 0;
  }
  
  .neon-button:hover {
    color:  #451386;
    background-color: var(--neon);
    text-shadow: none;
  }
  
  .neon-button:hover::before {
    opacity: 1;
  }
  .neon-button:hover::after {
    opacity: 1;
  }

  .neon-button:active:hover::before {
    opacity: 0;
  }

/* ----------------------------------------------------*/
/*      OPTION SCREEN        */
/* ----------------------------------------------------*/

.option-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 5% 10%;
}
.options {
    display: flex;
    justify-content: space-between;
}

.option-card {
    background-color: #5e386068;
    border-radius: var(--game-option-radius);
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
}

/* Like card */
.game-options {
    align-items: center;
    font-size: var(--game-option-font-size);
}

.game-options label {
    font-size: var(--game-option-font-size);
}

.game-options div {
    width: 100%;
}

.switcher {
    width: 100%;
}

.switcher label {
    width: 100%;
}
 
.switcher {
    padding-bottom: 4px;
}

/* Like card */
.player-options {
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.AI-levels {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--green);
    font-weight: 600;
    margin-top: 3px;
}

.AI-levels  select {
    color: var(--green);
    background-color: transparent;
    border-radius: var(--game-option-radius);
    text-align: center;
    outline: none;
    padding: 2%;
}

/* ----------------------------------------------------*/
/*                  PLAY SCREEN                     */
/* ----------------------------------------------------*/
.play-screen,
.computer-input {
    display: none;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.play-screen > * {
    flex: 1;
}

.players {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.field {
  display: flex;
  width: auto;
  height: 100%;
  user-select: none;
}

#field-wrapper {
    width: 47vh;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(var(--field-size), 1fr);
}

#field-wrapper > * {
    text-align: center;
    color: transparent;
}

.cell {
    background-color: #b11bda5a;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    aspect-ratio: 1;
    transition: all 300ms ease-in-out;
}

.cell:hover {
    border-radius: 1.8rem;
    background-color: #46077d8c;
}

.cell:active {
    transform: scale(0.7);
}

.cell.cross {
    background-image: url(./images/strange_x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    

   /* filter: brightness(50%);  это в expended mode для той, что последняя*/
}

.cell.zero {
    background-image: url(./images/strange_o-removebg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Добавить неоновый блюр. И вообще сделать outline как неон, чтобы мерцал много */
.cell.win {
    background-color: #08994e9e;
    outline: 2px solid var(--green);
    animation: pulse 1s infinite;
}

.cell.last {
    opacity: 0.5;
}

@keyframes pulse {
    0%, 100% {
        filter: brightness(110%);
    }
    50% {
        filter: brightness(70%);
    }
}
/* Player divs */
#player-1, #player-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#player-1-name, #player-2-name {
    font-size: 2rem;
    font-weight: 800;
    color: var(--green);
    text-shadow: var(--text-shadow);
    text-align: center;
    max-width: fit-content;
}


#player-1-name::after {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 0.5rem;
    background-color: #fbb9fe5b;
    background-image: url("./images/strange_x.png");
    background-size: 35px;
    position: relative;
    right: 75px;
    top: 45px;
    display: inline-block;
}

#player-2-name::before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 0.5rem;
    background-color: #fbb9fe5d;
    background-image: url(./images/strange_o-removebg.png);
    background-size: 35px;
    position: relative;
    left: 75px;
    top: 45px;
    display: inline-block;
}

/*  Move description  */
#move-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--green);
    text-shadow: var(--text-shadow);
}

.field, #move-desc {
    position: relative;
    bottom: 25px;
}

.field {
    right: 20px;
}
 
.control-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

#reset, #back {
    font-size: 1.3rem;
    line-height: 0.5;
}