/* Add normilize and reset */
.btn {
    outline: 1px solid black;
    text-align: center;
}

.play-screen, .computer-input {
    display: none;
}

#field-wrapper > * {
    outline: 1px solid black;
    min-height: 50px;
    text-align: center;
}